@media (max-width: 489px) {
    .faq {
        padding: 80px 0 265px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%;
            right: 20%;
            width: 215px;
            height: 215px;
            background: url("../img/woman-supervillain.svg") no-repeat 50% 50%;
            background-size: contain;
        }
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #504178;
            margin-bottom: 50px;
        }
        & .accordion {
            border-top: 3px solid #4c3d74;
            border-bottom: 3px solid #4c3d74;
            & .accordion-item {
                border-bottom: 3px solid #4c3d74;
                & .accordion-header {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 450;
                    font-size: 18px;
                    line-height: 150%;
                    color: #4c3d74;
                    & .accordion-button {
                        color: #4c3d74;
                    }
                    & .accordion-button:not(.collapsed) {
                        color: #4c3d74;
                        background-color: #ffffff;
                        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
                        &::after {
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234c3d74'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                            transform: rotate(180deg);
                        }
                    }
                }
                & .accordion-body {
                    color: #4d3e75;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "FuturaPT";
                    text-transform: uppercase;
                }
            }
        }
        & .faq-contact {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 50px;
            & .faq-desc {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #4c3d74;
                margin-left: 25px;
            }
        }
        & .card {
            border: 0;
            & .card-body {
                padding: 30px 20px 30px 60px;
                background: #f2eef7;
                border: 3px solid #4c3d74;
                box-sizing: border-box;
                border-radius: 30px;
                margin-left: 40px;
                display: flex;
                align-items: center;
                position: relative;
                & img {
                    position: absolute;
                    left: -45px;
                }
                & .card-text {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 150%;
                    color: #4c3d74;
                }
            }
        }
        & .btn-lilac {
            width: 100%;
            height: 60px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 21px;
            color: #ffffff;
            background: #a387c4;
            border-radius: 30px;
            &:hover {
                color: #ffffff;
            }
        }
    }
}
@media (min-width: 490px) and (max-width: 991px) {
    .faq {
        & .container {
            padding: 80px 20px 265px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 20%;
                width: 215px;
                height: 215px;
                background: url("../img/woman-supervillain.svg") no-repeat 50% 50%;
                background-size: contain;
            }
            & .section-title {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-align: center;
                color: #504178;
                margin-bottom: 50px;
            }
            & .accordion {
                border-top: 3px solid #4c3d74;
                & .accordion-item {
                    border-bottom: 3px solid #4c3d74;
                    & .accordion-header {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 18px;
                        line-height: 150%;
                        color: #4c3d74;
                        & .accordion-button {
                            color: #4c3d74;
                        }
                        & .accordion-button:not(.collapsed) {
                            color: #4c3d74;
                            background-color: #ffffff;
                            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
                            &::after {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234c3d74'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                transform: rotate(180deg);
                            }
                        }
                    }
                    & .accordion-body {
                        color: #4d3e75;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "FuturaPT";
                        text-transform: uppercase;
                    }
                }
            }
            & .faq-info {
                display: flex;
                align-items: center;
                margin: 50px 0 0;
                & .faq-contact {
                    display: flex;
                    align-items: center;
                    & .faq-desc {
                        width: 300px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        color: #4c3d74;
                        margin: 0;
                        margin-left: 25px;
                    }
                }
                & .btn-lilac {
                    width: 100%;
                    height: 60px;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            & .card {
                border: 0;
                & .card-body {
                    padding: 30px 20px 30px 60px;
                    background: #f2eef7;
                    border: 3px solid #4c3d74;
                    box-sizing: border-box;
                    border-radius: 30px;
                    margin-left: 40px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    & img {
                        position: absolute;
                        left: -45px;
                    }
                    & .card-text {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4c3d74;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .faq {
        & .container {
            padding: 80px 0 175px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 215px;
                height: 215px;
                background: url("../img/woman-supervillain.svg") no-repeat 50% 50%;
                background-size: contain;
            }
            & .section-title {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                text-align: center;
                color: #504178;
                margin-bottom: 50px;
            }
            & .accordion {
                border-top: 3px solid #4c3d74;
                & .accordion-item {
                    border-bottom: 3px solid #4c3d74;
                    & .accordion-header {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 18px;
                        line-height: 150%;
                        color: #4c3d74;
                        & .accordion-button {
                            color: #4c3d74;
                        }
                        & .accordion-button:not(.collapsed) {
                            color: #4c3d74;
                            background-color: #ffffff;
                            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
                            &::after {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234c3d74'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                transform: rotate(180deg);
                            }
                        }
                    }
                    & .accordion-body {
                        color: #4d3e75;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "FuturaPT";
                        text-transform: uppercase;
                    }
                }
            }
            & .faq-info {
                display: flex;
                align-items: center;
                margin: 50px 0 0;
                & .faq-contact {
                    display: flex;
                    align-items: center;
                    & .faq-desc {
                        width: 300px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        color: #4c3d74;
                        margin: 0;
                        margin-left: 25px;
                    }
                }
                & .btn-lilac {
                    width: 245px;
                    height: 60px;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            & .card {
                border: 0;
                & .card-body {
                    padding: 30px 20px 30px 60px;
                    background: #f2eef7;
                    border: 3px solid #4c3d74;
                    box-sizing: border-box;
                    border-radius: 30px;
                    margin-left: 40px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    & img {
                        position: absolute;
                        left: -45px;
                    }
                    & .card-text {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4c3d74;
                    }
                }
            }
        }
    }
}
