@media (max-width: 355px) {
    .price {
        padding: 80px 0;
        background: #4c3d74;
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 40px;
        }
        & .card {
            background: #f2eef7;
            border-radius: 30px;
            padding: 50px 20px 40px;
            position: relative;
            & .card-body {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0;
                & .card-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    padding: 0;
                    list-style: none;
                    & .card-list-item {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 15px;
                        & .card-text {
                            font-family: "Futura PT";
                            font-style: normal;
                            font-weight: 450;
                            font-size: 16px;
                            color: #4c3d74;
                            margin-left: 12px;
                        }
                    }
                }
                & .card-title {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    color: #4c3d74;
                    text-align: left;
                    width: 100%;
                }
                & dl {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & dt {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 12px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: left;
                        padding: 0;
                    }
                    & dd {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: right;
                        margin: 0;
                    }
                }
                & .btn-lilac {
                    position: absolute;
                    bottom: -70px;
                    width: 250px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                    margin: 0 auto;
                }
            }
            &.card-lite {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/lite.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-plus {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/plus-card.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-bomba {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/bomba.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
        & .price-ads {
            width: 100%;
            text-align: center;
            margin-top: 70px;
            & img {
                margin-bottom: 25px;
            }
            & .section-desc {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #ffffff;
            }
            & .btn-outline-lilac {
                width: 245px;
                height: 60px;
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 21px;
                color: #ffffff;
                border: 4px solid #a387c4;
                box-sizing: border-box;
                border-radius: 30px;
                margin-bottom: 25px;
            }
            & .author {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #ffffff;
            }
        }
    }
}
@media (min-width: 356px) and (max-width: 991px) {
    .price {
        padding: 80px 10px;
        background: #4c3d74;
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 40px;
        }
        & .card {
            background: #f2eef7;
            border-radius: 30px;
            padding: 50px 20px 40px;
            position: relative;
            & .card-body {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0;
                & .card-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    padding: 0;
                    list-style: none;
                    & .card-list-item {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 15px;
                        & .card-text {
                            font-family: "Futura PT";
                            font-style: normal;
                            font-weight: 450;
                            font-size: 16px;
                            color: #4c3d74;
                            margin-left: 12px;
                        }
                    }
                }
                & .card-title {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    color: #4c3d74;
                    text-align: left;
                    width: 100%;
                }
                & dl {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & dt {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 12px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: left;
                        padding: 0;
                    }
                    & dd {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: right;
                        margin: 0;
                    }
                }
                & .btn-lilac {
                    position: absolute;
                    bottom: -70px;
                    width: 250px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                }
            }
            &.card-lite {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/lite.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-plus {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/plus-card.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-bomba {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/bomba.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
        & .price-ads {
            width: 100%;
            text-align: center;
            margin-top: 70px;
            & img {
                margin-bottom: 25px;
            }
            & .section-desc {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #ffffff;
            }
            & .btn-outline-lilac {
                width: 245px;
                height: 60px;
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 21px;
                color: #ffffff;
                border: 4px solid #a387c4;
                box-sizing: border-box;
                border-radius: 30px;
                margin-bottom: 25px;
            }
            & .author {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #ffffff;
            }
        }
    }
}
@media (min-width: 992px) {
    .price {
        padding: 80px 0;
        background: #4c3d74;
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #ffffff;
            margin-bottom: 40px;
        }
        & .card {
            background: #f2eef7;
            border-radius: 30px;
            padding: 50px 20px 40px;
            position: relative;
            & .card-body {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0;
                & .card-list {
                    padding: 0;
                    list-style: none;
                    & .card-list-item {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 15px;
                        & .card-text {
                            font-family: "Futura PT";
                            font-style: normal;
                            font-weight: 450;
                            font-size: 16px;
                            color: #4c3d74;
                            margin-left: 12px;
                        }
                    }
                }
                & .card-title {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    color: #4c3d74;
                    text-align: left;
                    width: 100%;
                }
                & dl {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & dt {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 450;
                        font-size: 12px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: left;
                        padding: 0;
                    }
                    & dd {
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4c3d74;
                        text-align: right;
                        margin: 0;
                    }
                }
                & .btn-lilac {
                    position: absolute;
                    bottom: -70px;
                    width: 250px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                }
            }
            &.card-lite {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/lite.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-plus {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/plus-card.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
            &.card-bomba {
                &::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    top: -30px;
                    width: 100px;
                    height: 100px;
                    background: url("../img/bomba.svg") no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
        & .price-ads {
            width: 100%;
            text-align: center;
            margin-top: 70px;
            & .col {
                display: flex;
                align-items: center;
            }
            & img {
                margin-right: 30px;
            }
            & .section-desc {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                text-align: left;
                color: #ffffff;
            }
            & .btn-outline-lilac {
                width: 245px;
                height: 60px;
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 21px;
                color: #ffffff;
                border: 4px solid #a387c4;
                box-sizing: border-box;
                border-radius: 30px;
                margin-right: 40px;
            }
            & .author {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #ffffff;
                margin: 0;
            }
        }
    }
}
