@media (max-width: 545px) {
    .promo {
        padding: 110px 0;
        background: #4c3d74;
        & .section-text {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
        }
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            color: #ffffff;
            margin: 30px 0;
        }
        & .card {
            background-color: transparent;
            border: none;
            padding: 0;
            & .card-body {
                & .btn-lilac {
                    width: 100%;
                    height: 60px;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    background: #a387c4;
                    border-radius: 30px;
                    margin-top: 27px;
                    &:hover {
                        color: #ffffff;
                    }
                }
                & .btn-outline-lilac {
                    width: 100%;
                    height: 60px;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 21px;
                    color: #ffffff;
                    border: 4px solid #a387c4;
                    box-sizing: border-box;
                    border-radius: 30px;
                    margin-right: 40px;
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (min-width: 546px) and (max-width: 991px) {
    .promo {
        padding: 110px 20px;
        background: #4c3d74;
        & .section-text {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            text-align: left;
            color: #ffffff;
        }
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            text-align: left;
            color: #ffffff;
            margin: 30px 0;
        }
        & .card {
            background-color: transparent;
            border: none;
            padding: 0;
            & .card-body {
                padding: 0;
                & .btn-box {
                    display: flex;
                    & .btn-lilac {
                        width: 245px;
                        height: 60px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 21px;
                        color: #ffffff;
                        background: #a387c4;
                        border-radius: 30px;
                        margin-top: 27px;
                        margin-right: 24px;
                        &:hover {
                            color: #ffffff;
                        }
                    }
                    & .btn-outline-lilac {
                        width: 245px;
                        height: 60px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 21px;
                        color: #ffffff;
                        border: 4px solid #a387c4;
                        box-sizing: border-box;
                        border-radius: 30px;
                        margin-top: 27px;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .promo {
        padding: 182px 0;
        background: #4c3d74;
        & .section-text {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            text-align: left;
            color: #ffffff;
        }
        & .section-title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            text-align: left;
            color: #ffffff;
            margin: 30px 0;
        }
        & .card {
            background-color: transparent;
            border: none;
            padding: 0;
            & .card-body {
                padding: 0;
                & .btn-box {
                    display: flex;
                    & .btn-lilac {
                        width: 245px;
                        height: 60px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 21px;
                        color: #ffffff;
                        background: #a387c4;
                        border-radius: 30px;
                        margin-top: 27px;
                        margin-right: 24px;
                        &:hover {
                            color: #ffffff;
                        }
                    }
                    & .btn-outline-lilac {
                        width: 245px;
                        height: 60px;
                        font-family: "Futura PT";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 21px;
                        color: #ffffff;
                        border: 4px solid #a387c4;
                        box-sizing: border-box;
                        border-radius: 30px;
                        margin-top: 27px;
                    }
                }
            }
        }
    }
}
